
body {
    max-width: 1024px;
    margin: 25% 25% 0 25%;
}

.game_container {

    display: grid;
    background-color: rgb(255, 13, 13);
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr;
    gap: 1%;
    padding: 0%;
    text-align: center;
    justify-content: center;
    outline: 1px solid black;
}

p {
    color: #000;
}

.game_header {
    
    align-items: center;
    text-align: center;
    color: #000;
    background-color: #fff;
    outline: 1px solid black;
}

.game_body {
    text-align: center;
    color: #000;
    background-color: #fff;
    outline: 1px solid black;
}



.tile-wall {
    display: block;
}
.tile-space {
    display: block;
} 
.tile-goal {
    display: block;
}

.entity-player {
    display: block;
}
.entity-block {
    display: block;
}
.entity-block-goal {
    display: block;
}

